.subscribe {
  // display: flex;
  // flex-direction: row;

  .subscribe-form {
    margin: 0 12px 0 0;

    input[type="email"] {
      // min-width: 358px;
      height: 50px;
      padding: 18px 12px;
      background-color: inherit;

      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .footer-button {
    @extend %link-td-none;

    // display: inline-flex;
    border-radius: 4px;
    padding: 5px 29px;
    align-items: center;
    @include font(700, 16px, 1.87, none);
    letter-spacing: 0.06em;
    color: $title-text-white;
    background-color: $accent-color;

    .button-icon.delivery {
      margin-left: 10px;
    }
  }
}
