.clients {
  @extend %section;

  .section-title {
    @extend %section-title;
  }
}

.clients-list {
  // display: flex;
}

.companies {
  // display: flex;

  .button-icon {
    fill: $icon-border-color;
    @include transition(fill);

    .clients-item:hover &,
    .clients-item:focus & {
      fill: $accent-color;
    }
  }
}

.clients-item {
  // width: 175px;
  height: 90px;
  border: 1px solid $icon-border-color;
  border-radius: 4px;
  @extend %centered-flex;
  @include transition(border-color);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    cursor: pointer;
  }
}
