.site-nav,
.contacts-nav {
  @extend %list-style;
  // display: flex;

  @include font(500, 18px, 1.17, 0.02em);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .menu-container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 20px;

    @media screen and (max-width: 767px) {
      display: none;

      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);

      &.is-open {
        display: block;
      }
    }
  }
}

.menu-button {
  .icon-cross {
    display: none;
  }
  &.is-open {
    .icon-cross {
      display: block;
    }
    .icon-menu {
      display: none;
    }
  }
}

.site-nav {
  // margin-left: 86px;

  .link {
    @extend %link-td-none;
    display: block;
    padding-bottom: 32px;
    @include transition(color);

    color: $title-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }

    @media screen and (min-width: 480px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  .current {
    color: $accent-color;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
  .item {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts-nav {
  margin-left: auto;

  .link {
    @extend %link-td-none;
    // display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    color: $primary-text-color;
    @include transition(color);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .item:not(:last-child) {
    margin-right: 30px;
  }

  .button-icon {
    fill: $primary-text-color;
    margin-right: 10px;
    @include transition(fill);
  }
}

.button-icon {
  .contacts-nav .link:hover &,
  .contacts-nav .link:focus & {
    fill: $accent-color;
  }
}
