.footer {
  background-color: $footer-bg-color;

  .page-footer {
    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }

    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    .footer-wrap {
      padding-top: 60px;
      padding-bottom: 60px;

      @media screen and (min-width: 1200px) {
        justify-content: space-between;
        align-items: baseline;
      }

      @media screen and (max-width: 1199px) {
        text-align: center;
      }

      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
      }
    }
  }
}

.footer-item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  .logo {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }

    .logo-footer {
      color: $title-text-white;
    }
  }

  .title-white {
    margin-top: 0;
    margin-bottom: 8px;
    color: $title-text-white;
    font-style: normal;
  }

  p.title-white.join {
    margin-top: 0;
    margin-bottom: 20px;
    @include font(700, 14px, 1.14);
    text-transform: uppercase;
  }
}

.footer-nav {
  @extend %list-style;
  display: inline-block;
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: 8px;
  }

  .address {
    @extend %link-td-none;
    color: $mail-address-footer;
    font-style: normal;
  }
}
