.example {
  @extend %list-style;
  // display: flex;
  // flex-wrap: wrap;

  &-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }
}

.example-link {
  @extend %link-td-none;
  display: block;

  .example-wrap {
    position: relative;
    overflow: hidden;

    .desc {
      color: $title-text-white;
      font-size: 18px;
      line-height: 1.56;

      position: absolute;
      bottom: 0;
      height: 100%;
      padding: 63px 23px;
      margin: 0;
      // @extend %centered-flex;
      opacity: 1;
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      @include transition(transform);

      .example-item:hover & {
        transform: translateY(0);
      }
    }
  }

  .card-content {
    padding: 20px 24px;
    border-left: 1px solid $card-border-line;
    border-bottom: 1px solid $card-border-line;
    border-right: 1px solid $card-border-line;

    .item-title {
      margin: 0;
      margin-bottom: 4px;

      color: $title-text-color;
      @include font(700, 18px, 2, none);
      letter-spacing: 0.06em;
    }

    .subject {
      margin: 0;
      color: $primary-text-color;
      font-size: 16px;
      line-height: 1.87;
    }
  }
}
